json flow.txt
[{"id":"eb32c0a4.e3a6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"90d23f63.2673b","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false},{"id":"6215d39a.0eadcc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"483481f8.032e1","type":"ui_group","name":"Enter the values","tab":"90d23f63.2673b","order":1,"disp":true,"width":"6","collapse":false},{"id":"5fff0419.58e03c","type":"ui_form","z":"eb32c0a4.e3a6","name":"","label":"","group":"483481f8.032e1","order":4,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"AVGHEARTBEATSPERMIN","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"PALPITATIONSPERDAY","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"CHOLESTEROL","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"AGE","value":"AGE","type":"number","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"EXERCISEMINPERWEEK","type":"number","required":true,"rows":null}],"formValue":{"AVGHEARTBEATSPERMIN":"","PALPITATIONSPERDAY":"","CHOLESTEROL":"","BMI":"","AGE":"","EXERCISEMINPERWEEK":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":160,"y":100,"wires":[["4cc0bca.f768444"]]},{"id":"1b065b36.585815","type":"ui_dropdown","z":"eb32c0a4.e3a6","name":"","label":"SEX","tooltip":"","place":"Select option","group":"483481f8.032e1","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"FEMALE","value":"F","type":"str"},{"label":"MALE","value":"M","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":220,"y":180,"wires":[["e5a048dc.e44b98"]]},{"id":"d25eb175.28ed8","type":"ui_dropdown","z":"eb32c0a4.e3a6","name":"","label":"SMOKERLAST5YRS","tooltip":"","place":"Select option","group":"483481f8.032e1","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"YES","value":"Y","type":"str"},{"label":"NO","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":330,"y":260,"wires":[["40df3cb.bf72ac4"]]},{"id":"a1fe787.84b2c88","type":"ui_dropdown","z":"eb32c0a4.e3a6","name":"","label":"FAMILYHISTORY","tooltip":"","place":"Select option","group":"483481f8.032e1","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"YES","value":"Y","type":"str"},{"label":"NO","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":400,"y":340,"wires":[["d003f063.8c735"]]},{"id":"4cc0bca.f768444","type":"function","z":"eb32c0a4.e3a6","name":"global variables","func":"global.set(\"AVGHEARTBEATSPERMIN\",msg.payload.AVGHEARTBEATSPERMIN)\nglobal.set(\"PALPITATIONSPERDAY\",msg.payload.PALPITATIONSPERDAY)\nglobal.set(\"CHOLESTEROL\",msg.payload.CHOLESTEROL)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.AGE)\n//global.set(\"SEX\",msg.payload.SEX)\n//global.set(\"FAMILYHISTORY\",msg.payload.FAMILYHISTORY)\n\n//global.set(\"SMOKERLAST5YRS\",msg.payload.SMOKERLAST5YRS)\nglobal.set(\"EXERCISEMINPERWEEK\",msg.payload.EXERCISEMINPERWEEK)\n\n\nvar apikey=\"c76vZdmC_LQNjDb3pfEtwNW4LpHMQPJN0EHm2D-S9Y88\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":100,"wires":[["8ddf293b.ec8868"]]},{"id":"e5a048dc.e44b98","type":"function","z":"eb32c0a4.e3a6","name":"","func":"global.set(\"SEX\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":180,"wires":[[]]},{"id":"40df3cb.bf72ac4","type":"function","z":"eb32c0a4.e3a6","name":"","func":"global.set(\"SMOKERLAST5YRS\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":260,"wires":[[]]},{"id":"d003f063.8c735","type":"function","z":"eb32c0a4.e3a6","name":"","func":"global.set(\"FAMILYHISTORY\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":340,"wires":[[]]},{"id":"8ddf293b.ec8868","type":"http request","z":"eb32c0a4.e3a6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":40,"wires":[["e1c6aab8.fe6d18"]]},{"id":"541d1b89.844424","type":"http request","z":"eb32c0a4.e3a6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/bb53c785-a819-4761-9207-3068205b34fa/predictions?version=2021-07-04","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":100,"wires":[["c2091dc0.3a436","b18def10.eca4a"]]},{"id":"e1c6aab8.fe6d18","type":"function","z":"eb32c0a4.e3a6","name":"","func":"var AVGHEARTBEATSPERMIN=global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY=global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL=global.get(\"CHOLESTEROL\")\nvar BMI=global.get(\"BMI\")\nvar AGE=global.get(\"AGE\")\nvar SEX=global.get(\"SEX\")\nvar FAMILYHISTORY=global.get(\"FAMILYHISTORY\")\nvar SMOKERLAST5YRS=global.get(\"SMOKERLAST5YRS\")\nvar EXERCISEMINPERWEEK=global.get(\"EXERCISEMINPERWEEK\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"]],\"values\":[[AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,CHOLESTEROL,BMI,AGE,SEX,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":40,"wires":[["541d1b89.844424"]]},{"id":"c2091dc0.3a436","type":"debug","z":"eb32c0a4.e3a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":160,"wires":[]},{"id":"b18def10.eca4a","type":"function","z":"eb32c0a4.e3a6","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":140,"wires":[["56e071d3.45995","6a23bdb9.67ac14"]]},{"id":"56e071d3.45995","type":"ui_text","z":"eb32c0a4.e3a6","group":"483481f8.032e1","order":5,"width":0,"height":0,"name":"","label":"The Prediction is :","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":180,"wires":[]},{"id":"6a23bdb9.67ac14","type":"debug","z":"eb32c0a4.e3a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":100,"wires":[]}]